In [ ]:
# Source for Cases Data: https://github.com/nytimes/covid-19-data.git

# Source for mobility Data: https://pastelsky.github.io/covid-19-mobility-tracker

In [118]:
import pandas as pd

import matplotlib.pyplot as plt

import requests

import json

In [7]:
# Input File paths

file_us = '../covid-19-data/us.csv'

file_states = '../covid-19-data/us-states.csv'

file_counties = '../covid-19-data/us-counties.csv'

In [32]:
# Create Pandas Data Frame

us_covid_df = pd.read_csv(file_us)

us_states_df = pd.read_csv(file_states)

In [33]:
duplicates = us_states_df['state'].tolist()

state_list = list(set(duplicates))

state_list.sort()

In [86]:
# Create a dictionary to store all the observations for each state

df = [state for _, state in us_states_df.groupby('state')]


data_frame = dict(zip(state_list, df))

In [133]:
# Sample to extract data for state

data_frame['Georgia'].head()

           date    state  fips  cases  deaths
256  2020-03-02  Georgia    13      2       0
271  2020-03-03  Georgia    13      2       0
287  2020-03-04  Georgia    13      2       0
305  2020-03-05  Georgia    13      2       0
326  2020-03-06  Georgia    13      3       0

In [122]:
# URL TO get mobility data for the entire country

url = "https://pastelsky.github.io/covid-19-mobility-tracker/output/US/mobility.json"

response = requests.get(url).json()

In [138]:
# Extract Mobility data for retail & recreation

retail = response['country']['retailAndRecreation']['points']

retail_df = pd.DataFrame(retail)

retail_df = retail_df.sort_values('date')

retail_df = retail_df.reset_index(drop = True)

retail_df.head()

         date  value
0  2020-02-16      6
1  2020-02-17      1
2  2020-02-18      2
3  2020-02-19      1
4  2020-02-20      2